RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?__uri=$1 [L,QSA,NC]

ErrorDocument 403 /views/parts/error/403
ErrorDocument 404 /views/parts/error/404
ErrorDocument 500 /views/parts/error/500
