*.hidden {
  display: none !important;
}

*.invisible {
  opacity: 0 !important;
  visibility: hidden !important;
}

*.disabled {
  pointer-events: none !important;
  color: rgb(0 0 0 / .25) !important;
}
